/* NAV BAR POSITION */
.midnav {
    display: flex;
    overflow: hidden;
    margin: 0;
    width: 70%;
    margin-left:13%;
    /* border: 5px solid #FFFF00; */
    padding: 10px;
    justify-content: center;
    
}

/* TEXT */
.midnav a {
    float: center;
    color: #a5a4a4;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    margin: 20px 0px 0px 0px;
    
}

/* HOVERED BY MOUSE */
.midnav a:hover {
    background-color: #71dbee; /*background hover*/
    color: rgb(41, 41, 41);           /*font color hover*/
}

/* TAB COLOR WHEN ON THAT PAGE */
.midnav a.active{
    /*background-color: #f5f51b;*/
    color: rgb(0, 0, 0);
    font-weight: normal;
    background-color: #c3f6ff;
}

/* Style the navbar */
#navbar {
  /* overflow: hidden; */
}

/* Navbar links */
#navbar a {
  /* float: left; */
  display: block;
  text-align: center;
  text-decoration: none;
}

/* Page content */
.content {
  /* padding: 16px; */
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 75%;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 10px;
  
}