/* NAV BAR POSITION */
.topnav {
    display: flex;
    /*justify-content: center;*/
    float: right;
    /*background-color: #f6f9fc;*/
    overflow: hidden;
}

/* TEXT */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0px 0px 0px;
}

/* HOVERED BY MOUSE */
.topnav a:hover {
    background-color: rgb(163, 163, 163); /*background hover*/
    color: rgb(41, 41, 41);           /*font color hover*/
}

/* TAB COLOR WHEN ON THAT PAGE */
.topnav a.active{
    /*background-color: #f5f51b;*/
    color: #1bd4f5;
    font-weight: normal;
}